name: MLOps Automation

on:
  push:
    branches: [ main ]

jobs:
  start:
    uses: ./.github/workflows/azure-ai.yml
    with:
      data_prep: false
      ai_training: true
      api_creation: false
      process_images: false
      split_images: false
      train_on_local: false
      local_deployment: false
    secrets: inherit